################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/404TeamNotFound.slnx/FileContentIndex/60ca5396-db85-46c7-88f6-8a16fb48210e.vsidx
/.vs/404TeamNotFound.slnx/FileContentIndex
