.vs/
bin/
obj/

*.suo
*.user
*.userosscache
*.sln.docstates

*.sqlite
*.vsidx
*.vsp
*.vspx
*.psess
/.vs/404TeamNotFound.slnx/v18/.wsuo
/.vs/slnx.sqlite
/Formas Aleatorias Eventos-Delegados/Formas Aleatorias Eventos-Delegados/obj/Release/Formas Aleatorias Eventos-Delegados.csproj.AssemblyReference.cache
/Formas Aleatorias Eventos-Delegados/Formas Aleatorias Eventos-Delegados/obj/Debug/Formas Aleatorias Eventos-Delegados.csproj.AssemblyReference.cache
